@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  /* font-size: large; */
  background: rgb(42, 42, 42);
  color: lime;
  background-color: rgb(42, 42, 42);
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

h5 {
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

h6 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 2%;
}

a {
  color: lime;
  text-decoration: none;
}

.project-img,
.profile-pic {
  margin-top: 4%;
  margin-bottom: 4%;
  /* margin-left: 5%;
  margin-right: 5%; */
  /* border: 2px solid white; */
  box-shadow: -9px 9px 13px black;
}

.container-wrapper {
  position: relative;
  min-height: 100vh;
  margin-top: 10%;
  background-color: rgb(42, 42, 42);
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

.container {
  text-align: center;
  /* padding-bottom: 2.5rem; */
  background-color: rgb(42, 42, 42);
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

.img-fluid {
  max-width: 75%;
}

.emblems {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: -9px 9px 13px black;
  border: 2px dotted #505050;
  border-radius: 3px;
  background-color: rgb(42, 42, 42);
  margin-left: 2%;
  margin-right: 2%;
}

.tech-icon {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right: 2%;
  margin-left: 2%;
  height: 4em;
}

.nav {
  border: none;
  box-shadow: -9px 9px 9px black;
}

.nav-item:hover {
  background: lime;
  color: rgb(17, 17, 17);
  /* border: 1px solid rgb(17, 17, 17); */
  border-radius: 5px;
}

.nav-link {
  color: lime;
}

.nav-link:hover {
  border: none;
  color: rgb(17, 17, 17);
}

.nav-link.active.port-nav {
  color: rgb(17, 17, 17);
  background-color: lime;
  border: 1px solid rgb(17, 17, 17);
}

.nav-link.active.port-nav:hover {
  color: rgb(17, 17, 17);
  background-color: lime;
  /* border: 1px solid rgb(17, 17, 17); */
  /* border-radius: 25px; */
}

.card {
  box-shadow: -9px 9px 13px black;
  border: 2px dotted #505050;
  border-radius: 3px;
  background-color: rgb(42, 42, 42);
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  /* border: 1px solid white; */
}

.img-container {
  height: 60%;
  overflow: hidden;
}

.profile-pic {
  height: 15rem;
}

.my-link {
  transition: all 0.3s ease-in-out;
}

.my-link:hover {
  transform: scale(1.1);
  color: rgb(17, 17, 17);
  background-color: lime;
  border-radius: 5px;
  padding: 0.5%;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.container-footer {
  padding: 1%;
  box-shadow: -9px 9px 9px black;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  background-color: rgb(42, 42, 42);
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

.initials {
  padding: 1%;
}

footer {
  display: block;
  background-color: rgb(42, 42, 42);
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}
