@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  background: rgb(42, 42, 42);
  color: lime;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 2%;
}

a {
  color: lime;
}

img {
  margin-top: 4%;
  margin-bottom: 4%;
  /* margin-left: 5%;
  margin-right: 5%; */
  border: 2px solid white;
  box-shadow: -9px 9px 13px black;
}

.card {
  border: 3px solid white;
  box-shadow: -9px 9px 13px black;
  border-radius: 8px;
}

.img-fluid {
  max-width: 75%;
}

.nav-item:hover {
  background: lime;
}

.nav-link {
  color: lime;
}

.nav-link:hover {
  color: rgb(17, 17, 17);
}

.nav-link.active {
  color: rgb(17, 17, 17) !important;
}

.container {
  text-align: center;
}

.card {
  margin-top: 3%;
}

.img-container {
  height: 60%;
  overflow: hidden;
}

.my-link:hover {
  color: rgb(17, 17, 17);
  background-color: lime;
  border-radius: 5px;
  padding: 4px;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

footer {
  display: block;
}
