@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  background: rgb(17, 17, 17);
  color: lime;
}

body {
  margin: 0;
}

.nav-item:hover {
  background: lime;
}

.nav-link {
  color: lime;
}

.nav-link:hover {
  color: rgb(17, 17, 17);
}

.container {
  text-align: center;
}

a {
  color: lime;
}

.my-link:hover {
  color: rgb(17, 17, 17);
  background-color: lime;
  border-radius: 5px;
  padding: 4px;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

footer {
  display: block;
}
